{% extends "base.html" %}
{% block content %}

<h1>メモアプリ</h1>

    <a href="{{ url_for('regist') }}" role="button">新規登録</a>

    {% if memo_list == [] %}
        <p>メモは登録されていません</p>
    {% else %}
        <table border="1">
            <tr>
                <th>タイトル</th>  <!-- 「タイトル」ヘッダーセル -->
                <th>メモ</th>  <!-- 「メモ」ヘッダーセル -->
                <th></th>  <!-- 空のヘッダーセル（編集ボタン・削除ボタン用） -->
            </tr>
            {% for memo in memo_list %}
                <tr>
                    <td>{{memo.title}}</td>  <!-- 個別のタイトル -->
                    <td>{{memo.body}}</td>  <!-- 個別のメモ -->
                    <td>
                        <a href="{{ url_for('edit', id=memo.id) }}" role="button">編集</a>  <!-- memoのidを含む編集画面へのリンクを仕込んだ「編集」ボタンを設置 -->
                        <a href="{{ url_for('delete', id=memo.id) }}" role="button">削除</a>  <!-- memoのidを含む編集画面へのリンクを仕込んだ「編集」ボタンを設置 -->
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    {% endif %}
{% endblock %}