{% extends "base.html" %}
{% block content %}
<h1>新規登録</h1>
<form method="POST" action="{{ url_for('regist') }}">  <!-- ■　"submit"とセット。「関数registに紐づいているURL」に送信されるフォーム -->
    <table border="1">
        <tr>
            <th>タイトル</th>
            <th>メモ</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="title">  <!-- name="title"が、Pythonに渡す値。Python側のgetの中身になる。request.form.get('title') -->
            </td>
            <td>
                <input type="text" name="body">  <!-- name="body"が、上記と同じ。 -->
            </td>
        </tr>
    </table>
    <input type="submit" value="新規登録">  <!-- "submit"　フォーム送信ボタン　■に従ってinputの値を集め、POSTリクエストでデータ送信 -->
</form>
<a href="{{ url_for('top') }}" role="button">一覧に戻る</a>  <!-- aタグ　リンクボタン　GETリクエストで画面移動 -->
{% endblock %}