{% extends "base.html" %}
{% block content %}
<h1>新規ユーザ登録画面</h1>
<form method="POST" action="{{ url_for('signup') }}">
    <table border="1">
        <tr>
            <th>ユーザーID</th>
            <th>パスワード</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="userid" value="{{ userid | default('') }}">
            </td>   
            <td>
                <input type="password" name="password">
            </td>                 
        </tr>
    </table>
    <input type="submit" value="ユーザ登録">
</form>
<a href="{{ url_for('login') }}" role="button">ログイン画面へ戻る</a>
{% endblock %}